/* Global */

body {
    background-color: #fff;
    width: 1400px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    background-image: linear-gradient(-45deg, #b8b799 70%,#f1f1f1 70%);
    border-radius: 0 0 45px 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}

.header__right-side {
    display: flex;
}

.header__right-side-list {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.header__right-side-link {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.section-about-us {
    padding: 15px 0;
}

.swiper1,
.swiper2 {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    margin-right: 10px;
}

.about-us {
    display: flex;
}

.about-us__left-side {
    width: 400px;
}

.about-us_header {
    font-family: Calibri, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.about-us__right-side-content {
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

.section-advantages {
    padding: 15px 0;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantages__left-side {
    width: 68%;
}

.advantages__right-side {
    width: 30%;
}


.advantages__left-side-header {
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

.advantages__left-side-list {
    margin-bottom: 25px;
}

.advantages__left-side-item {
    font-family: Calibri, sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.advantages__left-side-content {
    margin-bottom: 100px;
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 26px;
    color: #333;
}

.advantages__left-side-img-container {
    display: flex;
    justify-content: space-around;

}

.advantages__left-side-img {
    width: 300px;
}

.advantages__right-side-img {
    transform: scale(-1, 1);
}

.section-content {
    padding: 15px 0;
}

.content__txt {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    margin: 20px;
}

.content__header {
    font-family: Calibri, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
    color: #333;
}
.content__armor {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.content__right-side-top,
.content__right-side-bottom {
    display: flex;
    justify-content: space-between;
}

.content__left-side {
    width: 49%;
}

.content__right-side {
    width: 49%;
}

.content__content-text {
    margin-bottom: 20px;
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 26px;
    color: #333;
}

.content__left-side-bottom,
.content__right-side-top {
    font-family: Calibri, sans-serif;
}

.content__left-side-bottom {
    height: 100%;
}

.section-content img{
    margin: 20px;
}

.content__left-side-bottom-header {
    text-transform: uppercase;
}

.content__left-side-bottom-header {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.content__left-side-bottom-text,
.content__right-side-top-text {
    font-size: 18px;
    margin: 20px;
}

.content__left-side-bottom-list {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

.content__left-side-bottom-item {
    width: calc(50% - 40px);
    min-height: 49%;
}

.content__right-side-top-text {
    width: 50%;
    align-self: center;
}

.content__img-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content__armor-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content__armor-desc-header {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.content__armor-desc-item {
    padding-left: 30px;
    margin-bottom: 20px;
}

.section-swiper {
    padding: 15px 0;
}

.footer {
    padding: 15px 0;
    background-color: #111;
    color: #ccc;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__container div{
    width: 32%;
}

.footer__left-item {
    margin-bottom: 10px;
}

.footer__left-item-link {
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
    color: #CACACA;
}

.footer__center-form {
    display: flex;
    flex-direction: column;
}

.footer__center-form input[type="submit"]{
    background-color: #47673b;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.footer__center-form-label {
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    color: #CACACA;
}

.footer__center-messege {
    resize: none;
}

.footer__center-input {
    padding: 5px;
    background-color: #333;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
}

.footer__center-submit {
    background-color: #fff;
}

.footer_right-coontacts-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
}

