/* Global */

body {
    background-color: #aaa;
    width: 1400px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 800px;
}

.swiper-slide {
    margin-right: 10px;
}

.swiper-scrollbar {
    display: none;
}

header {
    padding: 15px 0;
    background-image: linear-gradient(-45deg, rgb(182, 189, 174) 70%,#f1f1f1 70%);
}

.header {
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    
}

.header__right-side {
    
    display: flex;
}

.header__right-side-list {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.header__right-side-link {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.section-about-us {
    padding: 15px 0;
    background-color: #8d9e8e;
}

.about-us {
    display: flex;
}

.about-us__left-side {
    margin-right: 20px;
}

.about-us_header {
    font-family: Calibri, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.about-us__right-side-content {
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

.section-advantages {
    padding: 15px 0;
    background-color: #b2c2b1;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantages__left-side {
    width: 68%;
}

.advantages__right-side {
    width: 30%;
}


.advantages__left-side-header {
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

.advantages__left-side-list {
    margin-bottom: 25px;
}

.advantages__left-side-item {
    font-family: Calibri, sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.advantages__left-side-content {
    margin-bottom: 100px;
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 26px;
    color: #333;
}

.advantages__left-side-img-container {
    display: flex;
    justify-content: space-around;

}

.advantages__left-side-img {
    width: 300px;
}

.advantages__right-side-img {
    transform: scale(-1, 1);
}

.section-content {
    padding: 15px 0;
    background-color: #8d9e8e;
}

.content__content-header {
    font-family: Calibri, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

.content__content-text {
    margin-bottom: 20px;
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 26px;
    color: #333;
}

.content__img-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content__img {
    width: 30%;
}

.content__img_big {
    width: 100%;
}

/* .section-table {
    padding: 15px 0;
    background-color: #686e58;
}

.table__header {
    font-family: Calibri, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    color: #fff;
}

.table__text {
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 25px;
    margin-bottom: 30px;
    color: #fff;
}

.table {
    border: 1px solid black;
    width: 100%;
    color: #fff;
    margin-bottom: 15px;
}

td {
    border: 1px solid black;
    height: 200px;
    width: 100px;
    text-align: center;
}

.row-one {
    padding: 5px;
    text-align: left;
    writing-mode:vertical-rl
}

.row-one span {
    display: block;
    transform: rotate(180deg);
}

.table__res {
    font-family: Calibri, sans-serif;
    text-align: justify;
    font-size: 24px;
    color: #fff;
}

.section-demo {
    padding: 15px 0;
    background-color: #fff;
}

.demo__header {
    font-family: Calibri, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}
.demo__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.demo__top-one {
    width: 75%;
}

.demo__top-two {
    width: 25%;
}

.demo__bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.demo__bottom-one {
    width: 40%;
}

.demo__bottom-two {
    width: 25%;
}

.section-table1 {
    background-color: #758c58;
} */

.section-swiper {
    padding: 15px 0;
}

.footer {
    padding: 15px 0;
    background-color: #111;
    color: #ccc;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__container div{
    width: 32%;
}

.footer__left-item {
    margin-bottom: 10px;
}

.footer__left-item-link {
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
    color: #CACACA;
}

.footer__center-form {
    display: flex;
    flex-direction: column;
}

.footer__center-form input[type="submit"]{
    background-color: #47673b;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.footer__center-form-label {
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    color: #CACACA;
}

.footer__center-messege {
    resize: none;
}

.footer__center-input {
    padding: 5px;
    background-color: #333;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
}

.footer__center-submit {
    background-color: #fff;
}

.footer_right-coontacts-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
}

